html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
footer, header, menu, nav, output,
section{
	margin: 0;
	padding: 0;
	color: #fafafa;
	border: 0;
	vertical-align: baseline;
}
h1{
    font-size: 45px;
    color: rgb(58, 94, 2);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    margin-left: 200px;
    
}
h2{
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 200px;
}
.Triangle{
    width: 0%;
    height: 0;
    border-left: 200px solid transparent;
    border-right: 350px solid rgb(58, 94, 2);
    border-bottom: 200px solid transparent;
    margin-left: 60%;
    margin-top: -1.7%;
}

/*Banner styles*/
.Banner{
    width: 100%;
    height: 480px;
    background: linear-gradient(to right, #111111, #181818);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}
.Content{
    margin-top: -6%;
}
.Content img{
    height: 200px;
    width: 200px;
    border-radius: 25px 25px;
    margin-left: 80%;
    margin-top: -200px;
    box-shadow: 0 4px 8px 0 rgb(4, 7, 0);
}
.Paragraph{
    width: 60%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin-top: 10px;
}
.Card1{
    margin: 50px 200px 0;
    box-shadow: 0 4px 8px 0 rgb(4, 7, 0);
    width: 50%;
    padding: 20px;
}
span{
    background-color: rgb(58, 94, 2);
    border-radius: 0 5px;
    padding: 5px;
}

/*About*/
.About{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Heading{
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 6rem;
    font-family:  'Times New Roman', Times, serif;
    padding-top: 20px;
    margin-top: 3rem;
}
.Heading h3{
    font-size: 5rem;
    opacity: .3;
    color: #181818;
}
.Heading h6{
    font-size: 2rem;
    font-weight: 300;
    color: rgb(58, 94, 2);  
    text-shadow: rgb(22, 22, 22) 0px 1px;
}
.About h4{
    color: rgb(58, 94, 2);
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20%;
    padding-bottom: 10px;
    margin-top: -30px;
}
.About-details{
    color: #181818;
    width: 60%;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20%;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

/*Skills*/
.Skills{
    background: radial-gradient(circle,#181818, rgb(58, 94, 2), #181818);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 30px 0 50px 130px;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    text-shadow: rgb(22, 22, 22) 0px 1px;
}
.Skills h4{
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 20px;
}
.Tools{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Tools ul li{
    width: 33%;
    float: left;
    list-style: none;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}
.Soft-skills{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 30px;
}
.Soft-skills li{
    list-style: none;
    margin-left: 120px;
}
.Soft-skills span{
    text-shadow: none;
    color: whitesmoke;
    background-color: #181818;
}

/*Experience*/
.Professional-exp{
    background: linear-gradient(to right, #111111, #181818);
}
.Experience{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 200px;
}
h4{
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(250, 252, 248);
    padding-top: 20px;
}
h6{
    color:rgb(58, 94, 2);
    font-size: 16px;
}
.Card{
    margin: 20px 0;
    box-shadow: 0 4px 8px 0 rgb(3, 7, 0);
    width: 70%;
    padding: 20px;
}

/*Education*/
.Education{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 200px;
    padding-bottom: 30px;
}

/*Footer*/
footer{
    background: radial-gradient(circle,#181818, rgb(58,94,2), #181818);
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer h4{
    text-shadow: #181818 0px 1px;
    color: #fafafa;
    padding-bottom: 80px;
}
a{
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}
.Social{
    margin-top: -60px;
}
.fa{
    padding: 20px;
    color: #181818;
    text-align: center;
}
.Logo{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 70%;
}
.Logo p{
    font-size: 14px;
}
.Logo img{
    border-radius: 25px 25px;
    box-shadow: 0 4px 8px 0 rgb(4, 7, 0);
}

/*Media Queries*/
@media only screen and (max-width: 600px){
     
    .Triangle{
        margin-left: 5.5%;
        margin-top: -2.5%;
        border-left: 150px solid transparent;
        border-right: 250px solid rgb(61, 97, 3);
        border-bottom: 150px solid transparent;
    }

    .Banner{
        height: 540px;
    }
    .Content{
        margin-top: -20%;
    }
    .Card1{
        margin-left: 50px;
        width: 60%;
    }
    .Content img{
        height: 150px;
        width: 150px;
        margin: 10px  110px ;
    }
    h1{
        font-size: 30px;
        margin-left: 25px;
        color: #fafafa;
    }
    h2{
        font-size: 18px;
        margin-left: 46px;
    }
    
   .Paragraph{
       width: 80%;
       margin-left: 20px;
    }
    
   .About-details{
        width: 80%;
        margin-left: 10%;
    }
    .Skills{
        width: 100%;
        height: 400px;
        margin-left: 0px;
        border-top-left-radius: 0%;
        border-bottom-right-radius: 0%;
    }
    .Skills h4{
        font-size: 26px;
        padding-bottom: 20px;
    }
    .Soft-skills{
        padding-left: 10px;
    }
    .Soft-skills li{
        font-size: 16px;
    }
    .Tools ul li{
        font-size: 18px;
    }
    .Experience, .Education{
        margin-left: 25px;
    }
    .Card{
        margin: 20px 25px; 
    } 
    h4{
        font-size: 26px;
        margin-left: 25px;
    }
    p{
        font-size: 16px;
    }
    footer h4{
        padding-top: -20px;
        font-size: 26px;
    }
    
    .Social{
        margin-top: -50px;
    }
    .Logo{
        display: flex;
        flex-direction: row;
    }
    .Logo img{
        height: 50px;
        width: 50px;
    }

}